<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sweepnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="papl2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="papl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <sweepnet.Properties.Settings>
            <setting name="i1" serializeAs="String">
                <value/>
            </setting>
            <setting name="i2" serializeAs="String">
                <value/>
            </setting>
            <setting name="fs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m1" serializeAs="String">
                <value/>
            </setting>
            <setting name="m2" serializeAs="String">
                <value/>
            </setting>
            <setting name="ns" serializeAs="String">
                <value>0|6|10|14</value>
            </setting>
            <setting name="diffl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="art" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="redir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="final" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="options_n" serializeAs="String">
                <value/>
            </setting>
            <setting name="options_v" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_n" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_v" serializeAs="String">
                <value/>
            </setting>
            <setting name="add_url3" serializeAs="String">
                <value>https://als.wikipedia.org/|https://ar.wikipedia.org/|https://be.wikipedia.org/|https://bs.wikipedia.org/|https://de.wikipedia.org/|https://de.wikiquote.org/|https://eo.wikipedia.org/|https://hu.wikipedia.org/|https://ia.wikipedia.org/|https://id.wikipedia.org/|https://mk.wikipedia.org/|https://pl.wikipedia.org/|https://pl.wikisource.org/|https://ru.wikipedia.org/|https://ru.wikiquote.org/|https://ru.wikisource.org/|https://sq.wikipedia.org/|https://tr.wikipedia.org/|https://uk.wikipedia.org/|https://zh-classical.wikipedia.org/</value>
            </setting>
            <setting name="add_names3" serializeAs="String">
                <value>als.wiki|ar.wiki|be.wiki|bs.wiki|de.wiki|de.wikiquote|eo.wiki|hu.wiki|ia.wiki|id.wiki|mk.wiki|pl.wiki|pl.wikisource|ru.wiki|ru.wikiquote|ru.wikisource|sq.wiki|tr.wiki|uk.wiki|zh-classical.wiki</value>
            </setting>
            <setting name="add_customreviewsummaries" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;</value>
            </setting>
            <setting name="add_customrollbacksummaries" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;</value>
            </setting>
        </sweepnet.Properties.Settings>
        <papl2.Properties.Settings>
            <setting name="i1" serializeAs="String">
                <value/>
            </setting>
            <setting name="i2" serializeAs="String">
                <value/>
            </setting>
        </papl2.Properties.Settings>
        <papl.Properties.Settings>
            <setting name="i1" serializeAs="String">
                <value/>
            </setting>
            <setting name="i2" serializeAs="String">
                <value/>
            </setting>
            <setting name="fs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="m1" serializeAs="String">
                <value/>
            </setting>
            <setting name="m2" serializeAs="String">
                <value/>
            </setting>
            <setting name="ns" serializeAs="String">
                <value>0|6|10|14</value>
            </setting>
            <setting name="diffl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="art" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="redir" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="final" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="dir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="options_n" serializeAs="String">
                <value/>
            </setting>
            <setting name="options_v" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_n" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_v" serializeAs="String">
                <value/>
            </setting>
            <setting name="add_url" serializeAs="String">
                <value>http://als.wikipedia.org/|http://ar.wikipedia.org/|http://be.wikipedia.org/|http://bs.wikipedia.org/|http://de.wikipedia.org/|http://de.wikiquote.org/|http://eo.wikipedia.org/|http://hu.wikipedia.org/|http://ia.wikipedia.org/|http://id.wikipedia.org/|http://mk.wikipedia.org/|http://pl.wikipedia.org/|http://pl.wikisource.org/|http://ru.wikipedia.org/|http://ru.wikiquote.org/|http://ru.wikisource.org/|http://sq.wikipedia.org/|http://tr.wikipedia.org/|http://zh-classical.wikipedia.org/</value>
            </setting>
            <setting name="add_names" serializeAs="String">
                <value>als.wiki|ar.wiki|be.wiki|bs.wiki|de.wiki|de.wikiquote|eo.wiki|hu.wiki|ia.wiki|id.wiki|mk.wiki|pl.wiki|pl.wikisource|ru.wiki|ru.wikiquote|ru.wikisource|sq.wiki|tr.wiki|zh-classical.wiki</value>
            </setting>
        </papl.Properties.Settings>

    </userSettings>
  
</configuration>
